* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.panels {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 24px;
}
.panel {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  flex: 1 0 auto;
  transition: flex 0.7s;
  overflow: inherit;
  justify-content: space-around;
}

p {
  height: 5rem;
}

.panel-text:hover {
  font-size: 40px;
}

.panel:nth-child(1) {
  background: linear-gradient(90deg, #d8f5ff 0%, #00ddff 100%);
}
.panel:nth-child(2) {
  background: linear-gradient(90deg, #00ddff 0%, #60a0ff 100%);
}
.panel:nth-child(3) {
  background: linear-gradient(90deg, #60a0ff 0%, #8a77ff 100%);
}
.panel:nth-child(4) {
  background: linear-gradient(90deg, #8a77ff 0%, #9400d3 100%);
}

.panel.open {
  flex: 5;
}

.panel p:nth-child(1) {
  transform: translateY(-300%);
}
.panel p:nth-child(3) {
  transform: translateY(300%);
}

.panel.open p:nth-child(1),
.panel.open p:nth-child(3) {
  transform: translateY(0);
}
